body,ul,li,p,a,span,h1,h2,h3,h4{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-weight: bold;
}


/* 头部 */


/* 尾部 */
.nav-tab.tabs{
    position: fixed;
    bottom:0;
    left:0;
}




/* 用户中心样式开始 */
.content{
    background-color:#f5f5f5;
}


.pic{
    text-align: center;
    padding-top: 17px;
    padding-bottom: 20px;
    background-color: white;
    border-bottom: 1px solid #dddddd;
}

.pic-a{
    display:block;
    width: 50px;
    height: 50px;
    margin: 0 auto 25px;
}

.pic-a img{
    width:100%;
    height:100%;  
}

span{
    color: #444444;
}

.list a{
    padding-top: 30px;
    padding-bottom: 30px; 
}

.linka a{
    color:#666666;
}

.linka a:last-child{
    margin-left: 25px;
}

.list1{
    margin-top: 20px;
}

.health{
    color:#387ef5;
}

.collect{
    color:#33cd5f;
}

.service{
    color:#ffc900;
}

.help{
    color:#387ef5;
}