<ion-view title="我">
    <ion-content class="user_content">
        <div class="user_center">
            <a href="javacript:;" class="user"><img src="images/user.png" alt="用户"></a>
            <div class="sign_link">
                <a href="#/tab/signIn">立即登录</a>
                <a href="#/tab/signUp">立即注册</a>
            </div>
        </div>
        
        <div class="user_list user_list_first">
            <a class="item item-icon-left" href="javacript:;">
                <i class="icon ion-ios-pulse-strong health"></i>
                <span>我的健康</span>
            </a>

            <a class="item item-icon-left" href="javacript:;">
                <i class="icon ion-ios-star collect"></i>
                <span>我的收藏</span>
            </a>
        </div>

        <div class="user_list">
            <a class="item item-icon-left" href="javacript:;">
                <i class="icon ion-chatbubble-working service"></i>
                <span>在线客服</span>
            </a>

            <a class="item item-icon-left" href="javacript:;">
                <i class="icon ion-ios-help help"></i>
                <span>帮助手册</span>
            </a>

        </div>
    </ion-content> 
</ion-view>